<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vinícius - Exemplo Spring Framework</title>
</head>
<body>
<h1>Lista de livros</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Nome</td>
        <td th:text="${author.lastName}">Sobrenome</td>
    </tr>
</table>
</body>
</html>