<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vinícius - Exemplo Spring Framework</title>
</head>
<body>
    <h1>Lista de livros</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Editora</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.title}">Spring in action</td>
            <td th:text="${book.publisher.name}">Editora A.</td>
        </tr>
    </table>
</body>
</html>